.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
  
  .dot-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 6rem;
    width: 100%;
  }
  
  .dot {
    height: 3rem;
    width: 3rem;
    margin: 0 0.5rem;
    border-radius: 50%;
    background-color: #6b0f1a;
    background-image: linear-gradient(315deg, #6b0f1a 0%, #b91372 74%);
    opacity: 0.5;
    animation: popInOut 0.8s ease-in-out infinite;
  }
  
  .dot:nth-child(1) {
    animation-delay: 0.1s;
  }
  
  .dot:nth-child(2) {
    animation-delay: 0.2s;
  }
  
  .dot:nth-child(3) {
    animation-delay: 0.3s;
  }
  
  @keyframes popInOut {
    0% {
      transform: scale(1);
      opacity: 0.2;
    }
    30% {
      transform: scale(1.2);
      opacity: 1;
    }
    60% {
      transform: scale(1);
      opacity: 0.2;
    }
    100% {
      transform: scale(1);
      opacity: 0.2;
    }
  }
  